.board-header {
  padding: 1rem 2rem;
  margin-bottom: 3rem;
}

.board-infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.board-infos-left {
  width: 80%;
}

.board-infos-right {
  width: 19%;
}

.board-title {
  margin: 0.5rem 0 1rem;
}

.board-infos-recipes {
  margin-bottom: 1rem;
}

@media (max-width: 650px) {
  .board-header {
    margin-bottom: 0;
  }
  
  .board-title {
    margin-bottom: 1.5rem;
    font-size: 4rem;
  }
}