.modal-container {
  cursor: zoom-out;
  position: absolute;
  overflow-y: auto;
  display: flex;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding: 3rem 0;
  background: rgba(51, 51, 51, 0.5);
}

.modal {
  cursor: default;
  position: relative;
  z-index: 100;
  max-width: 70rem;
  background: #fff;
  margin: auto;
  border-radius: 1rem;
}

.modal-header {
  padding: 1rem 5rem 0.8rem;
  text-align: center;
}

.modal-header .btn-close {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem 1.2rem;
}

.modal-footer .btn:not(.btn-right) {
  margin-right: auto;
}

@media (max-width: 700px) {
  .modal {
    width: 85%;
  }

  .modal-container {
    padding: 2.5rem 0;
  }

  .modal-footer .btn-right {
    float: none;
  }
}
