.subnav {
  text-align: center;
  margin-bottom: 2rem;
}

.subnav-item {
  font-size: 1.5rem;
}

@media (max-width: 500px) {
  .subnav-item {
    font-size: 1.2rem;
    padding: 0 1rem;
    margin: 0.2rem 0
  }
}