.user-item {
  padding: 1rem 0;
}

.user-item .user-avatar {
  display: inline-block;
  vertical-align: middle;
}

.user-item .user-name {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 8rem - 14rem);
  padding: 0 1rem;
}

.user-item .user-btn {
  display: inline-block;
  vertical-align: middle;
  width: 14rem;
  text-align: center;
}

@media (max-width: 650px) {
  .user-item .user-avatar {
    width: 4rem;
    height: 4rem;
  }

  .user-item .user-name {
    font-size: 1.6rem;
    width: calc(100% - 4rem - 14rem);
  }
}

@media (max-width: 450px) {
  .user-item .user-avatar {
    width: 6rem;
    height: 6rem;
    display: block;
    margin: auto;
  }
  
  .user-item .user-name {
    display: block;
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
  }

  .user-item .user-btn {
    display: block;
    width: 100%;
  }

  .user-item .user-btn .btn{
    width: 100%;
    font-size: 1.2rem;
  }
}