.main-recipe {
  position: relative;
  min-height: 100vh;
  padding: 4rem 15rem;
  /* background: #efefef; */
}

.recipe-header {
  display: flex;
}

.recipe-left {
  width: 60%;
}

.recipe-right {
  width: 39%;
  padding-left: 2rem;
}

.recipe-img {
  display: block;
  width: auto;
  max-width: 100%;
  margin: auto;
  border-radius: 0.8rem;
}

.recipe-description {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

@media (max-width: 1100px) {
  .recipe-header {
    display: block;
  }

  .recipe-left, .recipe-right {
    width: 100%;
    padding: 0;
  }

  .recipe-img {
    margin-bottom: 1rem;
  }
}

@media (max-width: 850px) {
  .main-recipe {
    padding: 0 1rem;
  }
}

@media (max-width: 400px) {
  .main-recipe {
    top: -6rem;
    background: #fff;
  }
}