.navbar {
    display: flex;
    padding: 0 1rem;
}

.navbar-expand {
    flex-grow: 6;
}

.navbar-brand .icon{
    padding: 0.6rem;
    background-color: #0da064;
    border-radius: 50%;
    color: #ffffff;
}

.navbar-brand:hover .icon {
    color: #efefef;
    transition: color 0.1s ease-in;
}

.navbar-item {
    position: relative;
}

.menu-dropdown {
    position: absolute;
    z-index: 50;
    top: calc(100% + 1.5rem);
    right: -1rem;
    width: 15rem;
    background: white;
    border: 1px #efefef solid;
    border-radius: 0.5rem;
    box-shadow: 0 2px 2px 0px #33333330;
    text-align: left;
}

.menu-dropdown:before {
    position: absolute;
    bottom: 100%;
    right: 0.9rem;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 16px 16px;
    border-color: transparent transparent #33333330 transparent;
}

.menu-dropdown:after {
    position: absolute;
    bottom: 100%;
    right: 1rem;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent white transparent;
}

.menu-dropdown-item {
    display: block;
    padding: 0.5rem 1.5rem;
}

.menu-dropdown-item:hover {
    background: #efefef;
}


@media (max-width:850px) {
    .navbar .link--icon {
        height: 3.5rem;
        width: 3.5rem;    
        margin: 1rem 0.5rem;
        padding: 0;
        text-align: center;
    }
    .navbar .link--icon .icon {
        right: 0;
        vertical-align: baseline;
    }
}