/* 
1 - TYPOGRAPHY
  1.1 - Headings
  1.2 - Text & paragraphs
  1.3 - Links
  1.4 - Icons
2 - BUTTONS
  2.1 - Default button
  2.2 - Floating button
3 - FORM
  3.1 - Base
  3.2 - Input
4 - UTILITIES
  4.1 - Borders
  4.2 - Media queries
  4.3 - float
5 - LAYOUT
  5.1 - Container
6 - IMAGES
  6.1 - Avatar
*/

/* 1 - TYPOGRAPHY */

html {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto Oxygen-Sans", Ubuntu, Cantarell, "“Fira Sans”", "“Droid Sans”",
    "Helvetica Neue", Helvetica, "\\30D2ラギノ角ゴPro W3",
    "Hiragino Kaku Gothic Pro", "\\30E1イリオ", Meiryo, "ＭＳ Ｐゴシック", Arial,
    sans-serif;
}

body {
  font-size: 1.3rem;
  color: #333;
  /* word-wrap: break-word; */
}

/* 1.1 - headings */

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.heading-1 {
  font-size: 7rem;
}

.heading-2 {
  font-size: 6rem;
}

.heading-3 {
  font-size: 5rem;
}
.heading-4 {
  font-size: 3.5rem;
}
.heading-5 {
  font-size: 3rem;
}
.heading-6 {
  font-size: 2rem;
}

/* 1.2 - Text & paragraphs*/

.text {
  margin-bottom: 1rem;
  line-height: 1.5;
}

/* 1.3 - Link */

.link {
  display: inline-block;
  vertical-align: middle;
  padding: 0 2rem;
  margin: 1rem 0;
  border-radius: 5rem;
  font-weight: bold;
  color: #838383;
  text-decoration: none;
  line-height: 3.5rem;
  outline: 0;
}

.link:hover {
  background: #efefef;
  transition: background-color 0.1s ease-in;
}

.link.is-active {
  color: #333;
}

/* 1.4 - icons */

.link--icon .icon {
  position: relative;
  right: 1rem;
  vertical-align: middle;
}

.icon-accent {
  color: #0da064;
}

.icon-large {
  font-size: 2.6rem;
  line-height: 3.5rem;
}

/* 2 - BUTTON */

/* 2.1 - Default button */

.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 1rem 1.2rem;
  margin: 0.5rem;
  background-color: #efefefe3;
  border: none;
  border-radius: 0.5rem;
  outline: 0;
  font-weight: bold;
}

.btn:hover {
  background: #bbbbbbe3;
}

.btn--accent {
  background: #0da064;
  color: #fff;
}

.btn--accent:hover {
  background: #09794c;
}

.btn:not(.btn-floating) .icon {
  padding-right: 1rem;
}

/* 2.2 - Floating button */

.btn-floating {
  width: 3.5rem;
  height: 3.5rem;
  margin: 1rem 0.5rem;
  background-color: transparent;
  padding: 0;
  border-radius: 50%;
  color: #8e8e8e;
  font-size: 1.5rem;
  line-height: 3.5rem;
  text-align: center;
}

.btn-floating:hover {
  cursor: pointer;
  background-color: #efefef;
  transition: background-color 0.1s ease-in;
}

/* 3 - FORM */
/* 3.1 - Base */
.input-field {
  position: relative;
  margin: 1rem 0.5rem;
}
.input-field:not(.input-field--search) .label {
  font-size: 1.5rem;
}
/* 3.2 - Input */
.input-field .icon {
  position: absolute;
  padding: 0 1.2rem;
  color: #8e8e8e;
  font-size: 1.8rem;
  line-height: 3.5rem;
}

.input-field--search .input {
  width: 100%;
  padding: 0 1rem 0 4.2rem;
  background-color: #efefef;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 3.5rem;
}

.input-field:not(.input-field--search) .input {
  width: 100%;
  padding: 0.8rem 0.8rem 0.5rem;
  margin: 0.5rem 0;
  font-size: 1.3rem;
  border-radius: 0.3rem;
  border: #333 1px solid;
}

.input-field .input:focus,
.btn:not(.navbar-brand):focus,
.link:focus {
  background: #efefef;
  box-shadow: 0 0 0 4px rgba(0, 132, 255, 0.5);
  outline: 0;
}

.btn.is-active:focus,
.link.is-active:focus {
  background: transparent;
  box-shadow: none;
  outline: 0;
}

/* UTILITIES */
/* 4.1 - Borders */
.border-bottom {
  border-bottom: #efefef 1px solid;
}

.border-top {
  border-top: #efefef 1px solid;
}

/*4.2 - Typography */
.bold {
  font-weight: bold;
}

/*4.3 - float */
.clear {
  clear: both;
}

.float-right {
  float: right;
}
@media (max-width: 850px) {
  .float-right-only-on-mobile {
    float: right;
  }
}
/* 4.2 - Media queries */
@media (max-width: 850px) {
  .hidden-on-mobile {
    display: none;
  }
}

@media (min-width: 850px) {
  .only-on-mobile {
    display: none;
  }
}

/* 4.3 - Overflow */
.overflow-hidden {
  position: fixed;
  overflow: hidden;
}

.overflow-hidden::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(51, 51, 51, 0.5);
}

/* LAYOUT */
/* 5.1 - Containers */
.container {
  width: 90%;
  margin: auto;
  max-width: 156rem;
}

.container--thin {
  width: 90%;
  margin: auto;
  max-width: 68rem;
}

/* IMAGES */
/* 6.1 - Avatar */

.avatar {
  display: inline-block;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}

.avatar--small {
  height: 5rem;
  width: 5rem;
}

.avatar--big {
  display: inline-block;
  height: 21rem;
  width: 21rem;
  border-radius: 50%;
  border: white 1rem solid;
}

@media (max-width: 750px) {
  .avatar--big {
    height: 12rem;
    width: 12rem;
    border: white 0.5rem solid;
  }

  .avatar--small {
    height: 3rem;
    width: 3rem;
  }
}
