.board-tile {
  flex-grow: 1;
  width: 35%;
  height: 35%;  
  border-radius: 0 0.8rem 0 0;
}

.board-tile:first-of-type {
  flex: 100%;
  width: 65%;
  border-right: #ffffff 4px solid;
  border-radius: 0.8rem 0 0 0.8rem;
}

.board-tile:last-of-type {
  flex: 65%;
  border-top: white 4px solid;
  border-radius: 0 0 0.8rem 0;
}