.card {
    width: 100%;
    border-radius: 1rem;
    background: transparent;
    transition: background-color 0.1s ease-in;
}

.card-wrapper:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: 0;
    border-radius: 1rem;
    transition: opacity 0.2s ease;
}

.card-wrapper:hover:after {
    cursor: pointer;
    opacity: 0.1;
}

.card-wrapper {
    display: block;
    width: 100%;
    padding: 0.8rem;
}

.card-thumbnail {
    width: 100%;
    max-width: 100%;
    background: #efefef;
    border-radius: 0.5rem;
}

.card-title {
    margin-top: 1rem;
}